@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="font-size: 140px; 
               background-image: linear-gradient(to bottom, rebeccapurple, steelblue, turquoise);
              color: black;
              background-clip: text;
              -webkit-background-clip: text;

             
              -webkit-text-fill-color: transparent;" id="estamparia"><b>Bem vindo</b></h1>
</div>
